#loder {
    width: 100%;
    height: 100vh;
    background: #fff url("/assets/img/gif/loder.gif") no-repeat center;
    position: fixed;
    z-index: 100;
}

.span-vpn {
    font-family: var(--rubik);
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 23.7px;
    color: var(--dark);

}

.Logo {
    font-family: var(--rubik);
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 23.7px;
    color: var(--dark);
}

.links {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 18.96px;
    color: var(--primary);

}

.links:hover {
    -webkit-text-stroke: 1px var(--dark);
}

.Sign-in {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 18.96px;
    border: transparent;
    background-color: transparent;

}

.ml-30 {
    margin-left: 30px;
}

.Sign-up {
    width: 150px;
    height: 46px;
    background-color: var(--main);
    border-radius: 50px;
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 18.96px;
    color: var(--white);
    border: transparent;
    transition: all 500ms linear;

}

.Sign-up:hover {
    background-color: var(--white);
    color: var(--main);
    border: 1px solid var(--main);
}

.max-width-850 {
    max-width: 850px;
}

.rotated {
    transform: rotate(35deg);
    transition: all 300ms linear;
    transform-origin: left;
}

.rotated-2 {
    transform: rotate(-35deg);
    transition: all 300ms linear;
    transform-origin: left;
}

/* header end */
/* sec-1 */
.heading {
    font-family: var(--rubik);
    font-size: var(--fs-6xl);
    font-weight: 500;
    line-height: 70px;


}

.vpn-2 {
    font-family: var(--rubik);
    font-size: var(--fs-6xl);
    font-weight: 700;
    line-height: 70px;
    text-align: left;

}

.sub-heading {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;


}

.mt-100 {
    margin-top: 100px;
}

.sub-vpn {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 30px;


}

.show {
    box-shadow: -3px 17px 21px -20px rgba(0, 0, 0, 0.45);
}

.get-st {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--main);
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 25px;
    border: transparent;
    transition: all 500ms linear;

    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

.get-st:hover {
    box-shadow: none;
    background-color: var(--white);
    color: var(--main);
    border: 2px solid var(--main);
}

.liner {
    background: #F5383859;
    width: 211px;
    height: 63px;
    opacity: 60%;
    top: 32%;
    left: 3.5%;
    box-shadow: #F5383859;

}

.numbers {
    font-family: var(--rubik);
    font-size: var(--fs-3xl);
    font-weight: 700;
    line-height: 30px;


}

.h-200 {
    height: 200px;
}

.ml-36 {
    margin-left: 36px;
}

.number-sub-heading {
    font-family: var(--rubik);
    font-size: var(--fs-2xl);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);

}

/* .shadow-1 {
    box-shadow: 0px 15px 60px -15px #e4b8b8;
} */
.after::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 125px;
    background-color: var(--null);
    right: 0;
    top: -50%;
}

.plan {
    font-family: var(--rubik);
    font-size: var(--fs-4xl);
    font-weight: 500;
    line-height: 50px;
}

.text {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);
}

.text-2 {
    font-family: var(--rubik);
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);


}

/* .bg-show {
    box-shadow: 5px 20.5px 255px -20px rgba(0,0,0,0.45);
} */

.texts {
    max-width: 427px;
}

.gap-10 {
    gap: 10px;
}

.mt-31 {
    margin-top: 31px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-100 {
    padding-top: 100px;
}

.max-555 {
    max-width: 555px;
}

/* sec-2 */
.header-box {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.free-plan {
    font-family: var(--rubik);
    font-size: var(--fs-xl);
    font-weight: 500;
    line-height: 30px;


}

.free-footer {
    font-family: var(--rubik);
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);

}

.pb-30 {
    padding-bottom: 30px;
}

.mt-79 {
    margin-top: 79px;
}

.footer-btn {
    width: 177px;
    height: 45px;
}

.btn-header {
    font-family: var(--rubik);
    font-size: var(--fs-3xl);
    font-weight: 500;
    line-height: 30px;


}

.footer-btn {
    border: 1px solid var(--main);
    border-radius: 50px;
    background-color: transparent;
    font-family: var(--main);
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 18.96px;
    color: var(--main);
    transition: all 500ms linear;

}

.footer-btn:hover {
    background-color: var(--main);
    color: var(--white);

}

.mt-130 {
    margin-top: 130px;
}

.pad-plan {
    font-family: var(--rubik);
    font-size: var(--fs-3xl);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);

}

.mt-70 {
    margin-top: 70px;
}

/* section-3 */
.texts-box-1 {
    max-width: 383px;

}

.texts-box-2 {
    max-width: 555px;
}

.map-header {
    font-family: var(--rubik);
    font-size: var(--fs-4xl);
    font-weight: 500;
    line-height: 50px;

}

.map-sub-header {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);


}

.map-logo-span {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 30px;
    color: var(--primary);

}

.w-80 {
    width: 80%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}

/* -slider- */
.slider-box {
    border: 2px solid rgb(175, 175, 175);
    max-width: 400px !important;
    height: 250px;
    /* padding: 15px; */
    border-radius: 10px;
    border-radius: 10px;
    /* border: 2px solid var(--grey); */
    padding: 30px;
    cursor: pointer;
}

.slider-box:hover {
    border: 2px solid rgb(250, 45, 45);
    box-shadow: 0 12px 16px 0 rgba(103, 98, 98, 0.35),
        0 17px 50px 0 rgba(79, 75, 75, 0.19);
    transition: 0.5s;
}

.mt-60 {
    margin-top: 60px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.pl-20 {
    padding-left: 20px;
}

/* .h-100px {
    height: 100px;
} */


.slick-box-heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    max-width: 142px;
    color: var(--dark-blue);
}

.slick-box-address {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 30px;
    color: gray;
}

.pl-105 {
    padding-left: 105px;
}

.pl-85 {
    padding-left: 85px;
}

.svg-no {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.slick-para-3 {
    width: 340px;
    height: 100px;
    padding-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--dark-blue);
}

.mt-25 {
    margin-top: 25px;
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--main);
    background: var(--white);
    cursor: pointer;
    transition: all 200ms linear;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--main);
    background: var(--white);
    cursor: pointer;
    transition: all 200ms linear;
}

.next:hover {
    background-color: var(--main);
}

.next:hover path {
    fill: var(--white);
}

.prev:hover {
    background-color: var(--main);
}

.prev:hover path {
    fill: var(--white);
}

.slick-dots li button:before {
    opacity: 0 !important;
}

.slick-track {
    display: flex !important;
    gap: 50px !important;
}

.slick-dots li {
    transition: 0.3s !important;
}

.slick-dots {
    right: 44% !important;
    bottom: -20% !important;
}

.slick-dots li {
    background-color: #dde0e4;
    border-radius: 50%;
}

.slick-dots .slick-active {
    width: 45px;
    background-color: var(--main);
    border-radius: 10px;
}


.slick-dots {
    display: flex;
    margin-top: 10px;
    bottom: -70px;
    width: 50%;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: transparent !important;
}

.mt-60 {
    margin-top: 60px;
}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
    z-index: -1;
}

.slick-list::after {
    content: " ";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: var(--white);
}

.slick-dots {
    bottom: -25px;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.z-10 {
    z-index: 10;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
    z-index: 5;
}

.svg-no {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.slick-para-3 {
    width: 340px;
    height: 100px;
    padding-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--dark-blue);
}

.gap-15 {
    gap: 15px;
}

.mt-25 {
    margin-top: 25px;

}

.pt-30 {
    padding-top: 30px;
}

.slider-footer {
    font-family: var(--rubik);
    font-size: var(--fs-4xl);
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

/* -slider-end- */

.footer-slider-text {
    max-width: 375px;

}

.slider-sm-text {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);
}

.show {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.min-233 {
    min-height: 233px;
}

.p-70 {
    padding: 35px 70px;
}

.border-radius-10 {
    border-radius: 10px;
}

.footer-logo-text {

    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);
}

.footer-span {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 30px;
    color: var(--primary);


}

.max-340 {
    max-width: 340px;
    ;
}

.box-showw {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);


}

.span-footer {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 30px;
    color: var(--primary);

}

.footer-links {
    font-family: var(--rubik);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    color: var(--primary);

}
.footer-links:hover{
    color: var(--main);
    -webkit-text-stroke: 1px;
}
.bg-light-color{
    background-color: var(--light);
}
.top-left{
    top: -24%;
    left: 9%;
}
.pb-150{
    padding-bottom: 150px;
}
.pt-200{
    padding-top: 200px;

}
.w-33{
    min-width: 33px;

}
.h-33{
    height: 33px;
}
.bg-color-light{
    background-color: var(--light);
}
.pt-80{
padding-top: 80px;
}
.pb-60{
    padding-bottom: 60px;
}
.mt-150{
    margin-top: 150px;
}
.mb-30{
    margin-bottom: 30px;
}




@media (max-width:992px) {

    .nav-links {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--null);
        justify-content: center !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: all 300ms;
        z-index: 1;

    }
    .lg-unset{
        position: unset !important;
    }

    .max-width-992 {
        max-width: 992px;
    }


    .lines {
        width: 35px;
        height: 5px;
        background-color: var(--dark);
        margin-bottom: 5px;
        border-radius: 5px;
        transition: all 300ms linear;

    }
    .slider-footer{
        font-size: var(--fs-3xl);
    }
    .slider-sm-text{
        font-size: var(--fs-md);
    }


    .Sign-up {
        padding: 0;
        margin: 0;
    }

    .show-nav {
        right: 0;
    }

    /* sec-1 */
    .heading {
        font-size: var(--fs-4xl);
    }

    .vpn-2 {
        font-size: var(--fs-4xl);
    }

    .sub-heading {
        font-size: var(--fs-sm);
    }


    .after::after {
        display: none;
    }

}
@media (max-width:568px) {
    .get-st{
        width: 200px;
    }
    
}